.leftQiPao{
    margin-left: 10px;
    position: relative;
}

.photo{
    position: absolute;
    width: 30px;
    height: 30px;
    border: solid 1px #000;
    background-size: 30px 30px;
}

.head{
    position: relative;
    left:33px;
    width: 230px;

}

.message1{
    position: absolute;
    width:  0px;
    height: 0px;
    top:3px;
    border:solid 8px;
    border-color:gray yellow gray gray;
}
.message2{
    position:relative;
    padding: 2px 3px 2px 5px ;
    text-indent: 2px;
    left: 14px;
    top: -3px;
    word-break: break-all;
  //  width:fit-content;
  //  width: -moz-fit-content;
    line-height: 25px;
    background-color: yellow;
    border-radius: 10px;

}